.fieldset select {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  line-height: 2.4;
  width: auto;
  max-width: 100%;
  z-index: 0;
  border: none;
  border-radius: var(--border-radius);
  outline: 1px solid var(--color-primary-faint);
  transition: outline 200ms ease-in-out;
}

.fieldset select option:checked {
  background-color: var(--color-primary-faint);
  color: white;
  z-index: 1;
}
