:root {
  --color-background: #f0f0f0;
  --color-primary: #300d38;
  --color-primary-faint: #300d3866;
  --color-warning: #dc3545;
  --color-warning-faint: #dc354566;
  --border-radius: 5px;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-primary);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease-in-out, text-decoration 200ms ease-in;
}

a:hover {
  color: var(--color-warning);
  text-decoration: underline;
}

::selection {
  color: var(--color-background);
  background-color: var(--color-primary);
}
